# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List tools used in Data Science

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas: A powerful library for data manipulation and analysis, providing data structures like DataFrames for handling structured data.
2. NumPy: Fundamental for numerical computing in Python, offering support for arrays, matrices, and a variety of mathematical functions.
3. Matplotlib: A widely used library for data visualization, allowing the creation of static, animated, and interactive plots in Python.

## Data Science Tools

1. Jupyter Notebook: An interactive web-based environment that allows you to create and share documents containing live code, equations, visualizations, and narrative text.
2. RStudio: An integrated development environment (IDE) for R that provides tools for data analysis, visualization, and statistical modeling.
3. Apache Zeppelin: A web-based notebook that supports multiple languages (including Python, R, and Scala) and is designed for interactive data analytics and visualization.

### Below are a few examples of evaluating arithmetic expressions in Python

1. addition

result = 5 + 3
print(result)  # Output: 8

2. subtraction

result = 10 - 4
print(result)  # Output: 6

3. Multiplication

result = 7 * 6
print(result)  # Output: 42

4. Division

result = 20 / 4
print(result)  # Output: 5.0

In [2]:
(3*4)+5

17

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Wanda Yuen